@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Montserrat&display=swap");

html{
  position: relative;
  min-height: 100%;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Lato";
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 35px;
  color: orange !important;
}

.nav-link {
  font-size: 18px;
  margin: 15px;
  color: #000 !important;
  font-family: "Roboto Condensed";
}

.nav-link:hover {
  color: orange !important;
}

.active .nav-link {
  color: orange !important;
}

.menu-right-btn {
  padding: 13px 46px;
  margin-right: 4%;
  background-color: transparent;
  transition: all 300ms ease-in;
}

/* Breadcrumb */
.breadcrumb {
  background-color: #353A40;
}

.breadcrumb-item{
    font-family: "Roboto Condensed";
    font-size: 18px;
    margin: 8px;
}

.breadcrumb-item a{
    color: orange !important;
}


.breadcrumb-item:hover a{
    color: #000 !important;
    text-decoration: none;
}


/* Section-4 */

.section-4 {
  margin-top: -1%;
}

.section-4 .row .col-md-8,
.col-md-4 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-4 a {
  color: #ffa81a;
  font-size: 40px;
  text-decoration: none;
}

.section-4 .para-1 {
  color: #fff;
  font-family: "Roboto Condensed";
  margin-top: 7%;
  font-size: 23px;
}

.price {
  color: #ffa81a;
  font-size: 40px;
}

/* Footer */

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: orange;
}

.section-5 h4 {
    margin-top: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    color: orange;
  }
  
  .section-5 h4 i {
    color: red !important;
  }