@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Montserrat&display=swap");

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: "Lato";
}

.container {
    margin-top: 1% !important;
    margin-bottom: 4% !important;
}

.navbar-brand {
    font-family: "Pacifico";
    font-size: 35px;
    color: orange !important;
}

.nav-link {
    font-size: 18px;
    margin: 15px;
    color: #000 !important;
    font-family: "Roboto Condensed";
}

.nav-link:hover {
    color: orange !important;
}

.active .nav-link {
    color: orange !important;
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}

/* Section 1 */
.basket-title {
    padding-left: 125px;
}

.basket-item {
    border: 3px solid #343a40;
    border-radius: 5px;
    margin: 0 auto;
}

/* counter */
.number {
  margin-left: 5px;
}
.counter {
  width: 45px;  
  border-radius: 0px !important;
  text-align: center;
}
.up_count {
  margin-left: -4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} 
.down_count {
  margin-right: -4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.counter,
.up_count,
.down_count{
  display: inline-block;
}

.price{
  font-size: 22px;
}

.close{
  float: right;
}

.total-price{
  margin-right: 130px;
}

.clear{
  margin: 100px;
}
/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: orange;
}

.section-5 h4 {
    margin-top: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    color: orange;
}

.section-5 h4 i {
    color: red !important;
}
