@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Montserrat&display=swap");

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Lato";
}

.container {
  margin-top: 4% !important;
  margin-bottom: 4% !important;
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 35px;
  color: orange !important;
}

.nav-link {
  font-size: 18px;
  margin: 15px;
  color: #000 !important;
  font-family: "Roboto Condensed";
}

.nav-link:hover {
  color: orange !important;
}

.active .nav-link {
  color: orange !important;
}

.menu-right-btn {
  padding: 13px 46px;
  margin-right: 4%;
  background-color: transparent;
  transition: all 300ms ease-in;
}

/* SECTION-1 */

.container {
  margin-top: 8%;
  margin-bottom: 8%;
}

.single-content {
  position: relative;
  transition: 0.3s;
  box-shadow: 8px 8px 14px 1px rgba(253, 161, 25, 0.69);
}

.single-content button {
  float: right;
  /* background: transparent; */
}

.single-content .text-content,
.single-content:after {
  position: absolute;
  left: 20px;
  right: 20px;
}

.single-content:after {
  content: "";
  display: block;
  background: orange;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
}

.single-content:hover:after {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg);
}

.single-content img {
  width: 100%;
  height: auto;
}

.text-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: #222;
}

.text-content h4 {
  font-family: "Righteous";
}

.single-content:hover .text-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.3s;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: orange;
}

.section-5 h4 {
  margin-top: 15px;
  font-family: "Montserrat";
  font-size: 20px;
  color: orange;
}

.section-5 h4 i {
  color: red !important;
}
